<div class="container">
  <p-panel styleClass="p-fluid">
    <p-header>
      <span>Equipos</span>
    </p-header>
    <p-menubar [model]="items"></p-menubar>
    <p-table
      [value]="equipos"
      #dt
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedEquipo"
      dataKey="code"
      [rows]="10"
      [responsive]="true"
      [globalFilterFields]="['code', 'section', 'nombre']"
    >
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
          <input
            type="text"
            pInputText
            size="50"
            placeholder="Buscar"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width: auto"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">#</th>
          <th>Equipo</th>
          <th>Seccion</th>
          <th>Codigo</th>
          <th style="width: 8rem">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex" let-equipo>
        <tr [pSelectableRow]="equipo">
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ equipo.nombre }}</td>
          <td>{{ equipo.section }}</td>
          <td>{{ equipo.code }}</td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-arrow-right"
              class="p-button-outlined p-button-text"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary"></ng-template>
    </p-table>
  </p-panel>
</div>
<!-- Modal Guardar / Editar -->
<p-dialog
  header="{{ title }} equipo"
  [(visible)]="displaySaveEditDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="equipoForm" (ngSubmit)="onGuardar()">
    <div class="p-fluid forms-grid" style="margin: 1em 0">
      <div>
        <div>Codigo</div>
        <input
          pInputText
          type="text"
          formControlName="code"
          placeholder="Identificador Equipo"
        />
        <p-message
          severity="error"
          text="Es necesario un identificador del equipo"
          *ngIf="
            !equipoForm.controls['code'].valid &&
            equipoForm.controls['code'].dirty
          "
        ></p-message>
      </div>
      <div>
        <div>Nombre</div>
        <input
          pInputText
          type="text"
          formControlName="nombre"
          placeholder="Nombre Equipo"
        />
        <p-message
          severity="error"
          text="Ingrese un nombre al equipo"
          *ngIf="
            !equipoForm.controls['nombre'].valid &&
            equipoForm.controls['nombre'].dirty
          "
        ></p-message>
      </div>
      <div>
        <div>Seccion</div>
        <p-dropdown
          [options]="section"
          formControlName="section"
          placeholder="Seleccione una Seccion" 
          
        ></p-dropdown>
        <p-message
          severity="error"
          text="Ingrese un nombre al proyecto"
          *ngIf="
            !equipoForm.controls['section'].valid &&
            equipoForm.controls['section'].dirty
          "
        ></p-message>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displaySaveEditDialog = false; onGuardar()"
      label="Guardar"
      [disabled]="equipoForm.invalid"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
