.container {
  width: 100%;
  height: 100%;
}

::ng-deep .p-panel {
  height: 100%;
}

::ng-deep .p-panel p-header {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

::ng-deep .p-panel .p-panel-content .p-menubar {
  margin: 20px 0;
}


::ng-deep .p-panel .p-panel-content {
  /* border: 2px solid red; */
  height: 100%;
}

::ng-deep 
.p-panel .p-panel-content 
.p-datatable {
  /* border: 2px solid blue; */
  height: 100%;
}

::ng-deep 
.p-panel .p-panel-content 
.p-datatable .p-datatable-wrapper th  {
  place-items: center;
  text-align: center;
}

::ng-deep 
.p-panel .p-panel-content 
.p-datatable .p-datatable-wrapper td  {
  /* border: 2PX solid green; */
  place-items: center;
  text-align: center;
}

::ng-deep .p-dialog .p-dialog-content {
  /* border: 2PX solid green; */
  overflow-y: inherit;
}

