<div class="container">
  <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>Mantenimiento</header>
      <ul>
        <li><a routerLink="home"><i class="fas fa-qrcode"></i>Inicio</a></li>
        <li><a routerLink="equipo"><i class="fas fa-truck-pickup"></i>Equipos</a></li>
        <li><a routerLink="instructivo"><i class="fab fa-wpforms"></i>Instructivos</a></li>
        <li><a href="#Events"><i class="fas fa-calendar-week"></i>Events</a></li>
        <li><a href="#About"><i class="far fa-question-circle"></i>About</a></li>
        <li><a href="#Services"><i class="fas fa-sliders-h"></i>Services</a></li>
        <li><a (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Salir</a></li>
      </ul>
    </div>
    <section>
      <router-outlet></router-outlet>
    </section>
</div>

